*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: transparent;
}

header{
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.466);
    display: flex;
    padding: 40px 7%;
    align-items: center;
    justify-content: space-between;
}

header h1{
    font-size: clamp(16px, 5vw, 36px);
}

header ul{
    list-style: none;
    display: flex;
}

header ul li a{
    color: #ffffff;
    text-decoration: none;
    padding: 0 15px;
    font-size: 1.2rem;
}

main {
    display: flex;
    align-items: center;
    height: 60vh;
    justify-content: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h2{
    font-size: clamp(40px, 5vw, 62px);
    text-align: center;
    color: #000000;
}

main button{
    border: none;
    margin-top: 20px;
    max-width: 100%;
    width: 200px;
    padding: 15px 20px;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    font-size: 1.2rem;
    border-radius: 30px;
    transition: background-color 0.1s;
}

main button:hover {
    background-color: #202020;
}



footer{
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    padding: 20px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}

footer p{
    text-align: center;
    font-size: clamp(16px ,1vw, 30px);
}