*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: transparent;
}

header{
    background-color: rgb(110, 99, 84);
    color: #fff;
    display: flex;
    padding: 40px 7%;
    align-items: center;
    justify-content: space-between;
}

header h1{
    font-size: clamp(16px, 5vw, 36px);
}

header ul{
    list-style: none;
    display: flex;
}

header ul li a{
    color: #fff;
    text-decoration: none;
    padding: 0 15px;
}

main {
    display: flex;
    align-items: center;
    height: 60vh;
    justify-content: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main  h2{
    font-size: clamp(40px, 5vw, 62px);
    text-align: center;
}

main  button{
    margin-top: 15px;
    width: 200px;
    padding: 10px 20px;
    border: 1px solid rgb(110, 99, 84);
    color: rgb(110, 99, 84);
    background-color: transparent;
    font-size: 1.2rem;
    border-radius: 15px;
    transition: background-color 0.3s, color 0.3s;
}

main section button:hover{
    background-color: rgb(110, 99, 84);
    color: #fff;
}




footer{
    background-color: rgb(110, 99, 84);
    color: #fff;
    padding: 20px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}

footer p{
    text-align: center;
    font-size: clamp(16px ,1.1vw, 30px);
}